.aside_info {
    width: 35%;
    padding: 10px;
}

.title {
    margin: 0;
    padding: 0;
}

.paragraph {
    margin: 0;
}

.user_info {
    border-radius: 10px;
    padding: 10px;
    height: 230px;
    background-color: rgb(221, 212, 201);
    font-size: 22px;
    box-shadow: 0 0 10px rgba(71, 54, 5, 0.285);
}


@media screen and (max-width: 758px) {
    .aside_info {
        width: 100%;
    }

    .user_info {
        height: auto;
    }
}