.book_card {
    border-left: none;
    border-top: none;
    /* padding: 10px; */
    /* background-color: white; */
    margin: 10px 10px 20px 10px;
    box-shadow: 0 0 10px rgba(71, 54, 5, 0.285);
    border-radius: 10px;
}

.price {
    font-size: 22px;
}

.buy_btn {
    background: none;
    margin: auto 0 auto 0;
    height: 35px;
    width: 200px;
    font-size: 20px;
    border: none;
    background-color: #dcd0c3;
    /* background-color: rgba(109, 140, 243, 0.285); */
    border-radius: 5px;
    color: #64483c
}

.books_list {
    /* border: 2px solid black; */
    display: inline-block;
    order: -1;
    height: 90vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    width: 65%
}

::-webkit-scrollbar {
    width: 0;
}

.book_header {
    padding: 10px 10px 5px 10px;
    background-color: #ddd4c9;
    border-radius: 10px 10px 0 0;
}

.book_footer {
    justify-content: space-between;
    display: flex;
    /* rgba(230, 231, 238, 0.3) */
    background-color: #faf4ee;
    padding: 10px 10px 5px 10px;
    border-radius: 0 0 10px 10px;
}

@media screen and (max-width: 758px) {
    .books_list {
        height: 80vh;
        width: 100%;
    }
}